In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [3]:
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
5             645     Spain    Male   44       8  113755.78              2
6             822    France    Male   50       7       0.00              2
7             376   Germany  Female   29       4  115046.74              4
8             501    France    Male   44       4  142051.07              2
9             684    France    Male   27       2  134603.88              1
10            528    France    Male   31       6  102016.72              2
11            497     Spain    Male   24       3       0.00              2
12            476    France  Female   34      10       0.00              2
13            549    France  Female   25       5       0.00              2
14            635     Spain  Female   35       7       0.00              2
15            616   Germany    Male   45       3  143129.41              2
16            653   Germany    Male   58       1  132602.88              1
17            549     Spain  Female   24       9       0.00              2
18            587     Spain    Male   45       6       0.00              1
19            726    France  Female   24       6       0.00              2
20            732    France    Male   41       8       0.00              2
21            636     Spain  Female   32       8       0.00              2
22            510     Spain  Female   38       4       0.00              1
23            669    France    Male   46       3       0.00              2
24            846    France  Female   38       5       0.00              1
25            577    France    Male   25       3       0.00              2
26            756   Germany    Male   36       2  136815.64              1
27            571    France    Male   44       9       0.00              2
28            574   Germany  Female   43       3  141349.43              1
29            411    France    Male   29       0   59697.17              2
...           ...       ...     ...  ...     ...        ...            ...
9970          518    France    Male   42       7  151027.05              2
9971          833    France  Female   34       3  144751.81              1
9972          758    France    Male   26       4  155739.76              1
9973          611    France    Male   27       7       0.00              2
9974          583    France    Male   33       7  122531.86              1
9975          610   Germany    Male   50       1  113957.01              2
9976          637    France  Female   33       7  103377.81              1
9977          683    France  Female   32       9       0.00              2
9978          774    France    Male   40       9   93017.47              2
9979          677    France  Female   58       1   90022.85              1
9980          741     Spain    Male   35       6   74371.49              1
9981          498   Germany    Male   42       3  152039.70              1
9982          655   Germany  Female   46       7  137145.12              1
9983          613    France    Male   40       4       0.00              1
9984          602   Germany    Male   35       7   90602.42              2
9985          659    France    Male   36       6  123841.49              2
9986          673   Germany    Male   47       1  183579.54              2
9987          606     Spain    Male   30       8  180307.73              2
9988          775    France    Male   30       4       0.00              2
9989          841     Spain    Male   28       4       0.00              2
9990          714   Germany    Male   33       3   35016.60              1
9991          597    France  Female   53       4   88381.21              1
9992          726     Spain    Male   36       2       0.00              1
9993          644    France    Male   28       7  155060.41              1
9994          800    France  Female   29       2       0.00              2
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
5             1               0        149756.71
6             1               1         10062.80
7             1               0        119346.88
8             0               1         74940.50
9             1               1         71725.73
10            0               0         80181.12
11            1               0         76390.01
12            1               0         26260.98
13            0               0        190857.79
14            1               1         65951.65
15            0               1         64327.26
16            1               0          5097.67
17            1               1         14406.41
18            0               0        158684.81
19            1               1         54724.03
20            1               1        170886.17
21            1               0        138555.46
22            1               0        118913.53
23            0               1          8487.75
24            1               1        187616.16
25            0               1        124508.29
26            1               1        170041.95
27            0               0         38433.35
28            1               1        100187.43
29            1               1         53483.21
...         ...             ...              ...
9970          1               0        119377.36
9971          0               0        166472.81
9972          1               0        171552.02
9973          1               1        157474.10
9974          1               0         13549.24
9975          1               0        196526.55
9976          1               0         84419.78
9977          1               1         24991.92
9978          1               0        191608.97
9979          0               1          2988.28
9980          0               0         99595.67
9981          1               1         53445.17
9982          1               0        115146.40
9983          0               0        151325.24
9984          1               1         51695.41
9985          1               0         96833.00
9986          0               1         34047.54
9987          1               1          1914.41
9988          1               0         49337.84
9989          1               1        179436.60
9990          1               0         53667.08
9991          1               0         69384.71
9992          1               0        195192.40
9993          1               0         29179.52
9994          0               0        167773.55
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [4]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [6]:
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
5           0      1
6           0      0
7           1      0
8           0      0
9           0      0
10          0      0
11          0      1
12          0      0
13          0      0
14          0      1
15          1      0
16          1      0
17          0      1
18          0      1
19          0      0
20          0      0
21          0      1
22          0      1
23          0      0
24          0      0
25          0      0
26          1      0
27          0      0
28          1      0
29          0      0
...       ...    ...
9970        0      0
9971        0      0
9972        0      0
9973        0      0
9974        0      0
9975        1      0
9976        0      0
9977        0      0
9978        0      0
9979        0      0
9980        0      1
9981        1      0
9982        1      0
9983        0      0
9984        1      0
9985        0      0
9986        1      0
9987        0      1
9988        0      0
9989        0      1
9990        1      0
9991        0      0
9992        0      1
9993        0      0
9994        0      0
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [7]:
## Concatenate the Data Frames

X=pd.concat([X,geography,gender],axis=1)

In [8]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,0,1,1
6,822,France,Male,50,7,0.00,2,1,1,10062.80,0,0,1
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1,0,0
8,501,France,Male,44,4,142051.07,2,0,1,74940.50,0,0,1
9,684,France,Male,27,2,134603.88,1,1,1,71725.73,0,0,1
10,528,France,Male,31,6,102016.72,2,0,0,80181.12,0,0,1
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0,1,1
12,476,France,Female,34,10,0.00,2,1,0,26260.98,0,0,0
13,549,France,Female,25,5,0.00,2,0,0,190857.79,0,0,0
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0,1,0
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,1,0,1
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1,0,1
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0,1,0
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0,1,1
19,726,France,Female,24,6,0.00,2,1,1,54724.03,0,0,0
20,732,France,Male,41,8,0.00,2,1,1,170886.17,0,0,1
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0,1,0
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53,0,1,0
23,669,France,Male,46,3,0.00,2,0,1,8487.75,0,0,1
24,846,France,Female,38,5,0.00,1,1,1,187616.16,0,0,0
25,577,France,Male,25,3,0.00,2,0,1,124508.29,0,0,1
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,1,0,1
27,571,France,Male,44,9,0.00,2,0,0,38433.35,0,0,1
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,1,0,0
29,411,France,Male,29,0,59697.17,2,1,1,53483.21,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36,0,0,1
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81,0,0,0
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02,0,0,1
9973,611,France,Male,27,7,0.00,2,1,1,157474.10,0,0,1
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24,0,0,1
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1,0,1
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78,0,0,0
9977,683,France,Female,32,9,0.00,2,1,1,24991.92,0,0,0
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97,0,0,1
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28,0,0,0
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0,1,1
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1,0,1
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1,0,0
9983,613,France,Male,40,4,0.00,1,0,0,151325.24,0,0,1
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,1,0,1
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00,0,0,1
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,1,0,1
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0,1,1
9988,775,France,Male,30,4,0.00,2,1,0,49337.84,0,0,1
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0,1,1
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,1,0,1
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71,0,0,0
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0,1,1
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52,0,0,1
9994,800,France,Female,29,2,0.00,2,0,0,167773.55,0,0,0
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [9]:
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)

In [10]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
5,645,44,8,113755.78,2,1,0,149756.71,0,1,1
6,822,50,7,0.00,2,1,1,10062.80,0,0,1
7,376,29,4,115046.74,4,1,0,119346.88,1,0,0
8,501,44,4,142051.07,2,0,1,74940.50,0,0,1
9,684,27,2,134603.88,1,1,1,71725.73,0,0,1
10,528,31,6,102016.72,2,0,0,80181.12,0,0,1
11,497,24,3,0.00,2,1,0,76390.01,0,1,1
12,476,34,10,0.00,2,1,0,26260.98,0,0,0
13,549,25,5,0.00,2,0,0,190857.79,0,0,0
14,635,35,7,0.00,2,1,1,65951.65,0,1,0
15,616,45,3,143129.41,2,0,1,64327.26,1,0,1
16,653,58,1,132602.88,1,1,0,5097.67,1,0,1
17,549,24,9,0.00,2,1,1,14406.41,0,1,0
18,587,45,6,0.00,1,0,0,158684.81,0,1,1
19,726,24,6,0.00,2,1,1,54724.03,0,0,0
20,732,41,8,0.00,2,1,1,170886.17,0,0,1
21,636,32,8,0.00,2,1,0,138555.46,0,1,0
22,510,38,4,0.00,1,1,0,118913.53,0,1,0
23,669,46,3,0.00,2,0,1,8487.75,0,0,1
24,846,38,5,0.00,1,1,1,187616.16,0,0,0
25,577,25,3,0.00,2,0,1,124508.29,0,0,1
26,756,36,2,136815.64,1,1,1,170041.95,1,0,1
27,571,44,9,0.00,2,0,0,38433.35,0,0,1
28,574,43,3,141349.43,1,1,1,100187.43,1,0,0
29,411,29,0,59697.17,2,1,1,53483.21,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9970,518,42,7,151027.05,2,1,0,119377.36,0,0,1
9971,833,34,3,144751.81,1,0,0,166472.81,0,0,0
9972,758,26,4,155739.76,1,1,0,171552.02,0,0,1
9973,611,27,7,0.00,2,1,1,157474.10,0,0,1
9974,583,33,7,122531.86,1,1,0,13549.24,0,0,1
9975,610,50,1,113957.01,2,1,0,196526.55,1,0,1
9976,637,33,7,103377.81,1,1,0,84419.78,0,0,0
9977,683,32,9,0.00,2,1,1,24991.92,0,0,0
9978,774,40,9,93017.47,2,1,0,191608.97,0,0,1
9979,677,58,1,90022.85,1,0,1,2988.28,0,0,0
9980,741,35,6,74371.49,1,0,0,99595.67,0,1,1
9981,498,42,3,152039.70,1,1,1,53445.17,1,0,1
9982,655,46,7,137145.12,1,1,0,115146.40,1,0,0
9983,613,40,4,0.00,1,0,0,151325.24,0,0,1
9984,602,35,7,90602.42,2,1,1,51695.41,1,0,1
9985,659,36,6,123841.49,2,1,0,96833.00,0,0,1
9986,673,47,1,183579.54,2,0,1,34047.54,1,0,1
9987,606,30,8,180307.73,2,1,1,1914.41,0,1,1
9988,775,30,4,0.00,2,1,0,49337.84,0,0,1
9989,841,28,4,0.00,2,1,1,179436.60,0,1,1
9990,714,33,3,35016.60,1,1,0,53667.08,1,0,1
9991,597,53,4,88381.21,1,1,0,69384.71,0,0,0
9992,726,36,2,0.00,1,1,0,195192.40,0,1,1
9993,644,28,7,155060.41,1,1,0,29179.52,0,0,1
9994,800,29,2,0.00,2,0,0,167773.55,0,0,0
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [11]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [12]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [14]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

Using TensorFlow backend.

ModuleNotFoundError: No module named 'tensorflow'